<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="Arslan" />

    <title>Arslan Ismail (Full Stack JavaScript | DevOps Developer )</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <link
      href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i"
      rel="stylesheet"
    />
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/resume.min.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top"
      id="sideNav"
    >
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Arslan Ismail</span>
        <span class="d-none d-lg-block">
          <img
            class="img-fluid img-profile rounded-circle mx-auto mb-2"
            src="img/arslan.jpg"
            alt=""
          />
        </span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience"
              >Experience</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education"
              >Education</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#interests"
              >Interests</a
            >
          </li>
          
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">
      <section
        class="resume-section p-3 p-lg-5 d-flex align-items-center"
        id="about"
      >
        <div class="w-100">
          <h1 class="mb-0">
            Arslan
            <span class="text-primary">Ismail  DEV</span>
          </h1>
          <div class="subheading mb-5">
            577-G Blok, Johar Town, Lahore· (+92) 316 7024 577
            <a href="mailto:arslanismail840@gmail.com"
              >arslanismail840@gmail.com</a
            >
          </div>
          <p class="lead mb-5">
            <strong>Nodejs | Laravel | PHP | React.JS | JavaScript | MySQL | Git | Full
            Stack Web Developer | AWS | Lambda | Cognito | S3 | EC2 </strong></br></br> I'm a Full-stack Web Developer. I have 3
            years of industrial experience in Web Development I am responsible
            for clean and efficient code , strong educational background
            featuring a degree in Computer Science and My strongest point in
            developing application is understanding of complete life cycle of
            application and best practices and optimization hacks for from
            scratch to staging and finally to production and Designing Resilient
            Software Architecture to make software fault-tolerant through my
            valuable experience in software industry I came across different
            technologies, different issues, tough timelines and work pressure
            boost my decision making and analytical thinking that help me come
            up with long term solutions over short term, simplicity over
            complexity and performance over time, i have deep and clear
            understanding of the technologies that are listed above and why and
            when one will be useful for any particular application .</ul> <li> Good
            Communication Skills </li><li> Continually Evaluates and Upgrades Skills</li> <li> 3
            Years of Professional Experience</li>  <li> Currently working on MEAN stack
            application that goes by the name (localreviews.com) </li> </br>I am
            experienced in leveraging agile frameworks to provide a robust
            synopsis for high level overviews. Iterative approaches to corporate
            strategy foster collaborative thinking to further the overall value
            proposition.
          </p>
          <div class="social-icons">
            <a href="https://www.linkedin.com/in/arslan-ismail-858452139/">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/arslanismail">
              <i class="fab fa-github"></i>
            </a>
            
            <a href="https://www.facebook.com/arxlan.ismail">
              <i class="fab fa-facebook-f"></i>
            </a>
          </div>
        </div>
      </section>

      <hr class="m-0" />

      <section
        class="resume-section p-3 p-lg-5 d-flex justify-content-center"
        id="experience"
      >
        <div class="w-100">
          <h2 class="mb-5">Experience</h2>

          <div
            class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
          >
            <div class="resume-content">
              <h3 class="mb-0">Full Stack Web Developer</h3>
              <div class="subheading mb-3">PureLogics</div>
              <p>
                Responsible For Project's Estimation and Requirement Collection , Deciding
                best technology stack for  specific usecase / project and designing project 
                architecture , working on different lamp stack , Mern Stack Applications and
                recently worked on serverless Aws Architechture with Cognito, Api Gateways and 
                lambda functions in AWS.
              </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Aug 2019 - Present</span>
            </div>
          </div>

          <div
            class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
          >
            <div class="resume-content">
              <h3 class="mb-0">Software Engineer ( Php | Laravel | Javascript )</h3>
              <div class="subheading mb-3">Nextbridge Ltd.</div>
              <p>
                    I am responsible for product research ,software architectures / database design and back-end of
                    any Application in case of Web i am also responsible for the front-end of the Web Application
                    So i am working as a Full Stack Web developer . I have completed one major project that is for 
                    construction company in US as lead and many projects as team member , currently i am working in Shopify Theme ( Liquid , Html 5 , Scss )
                    and App Development and Started Making Extensions on both Php and NodeJs for companies Shopify Partner Account.
              </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">May 2018 - July 2019</span>
            </div>
          </div>

          <div
            class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
          >
            <div class="resume-content">
              <h3 class="mb-0">Junior R&D Engineer</h3>
              <div class="subheading mb-3">HTML Pro</div>
              <p>
                    I was responsible for Research and Development of the desktop application that i made on
                    python using OpenCV for OCR(optical character recognition) process implemented the
                    web sockets in desktop application to integrate our ocr process with
                    online Web Application where we already have integrated mails all the attachment of the
                    mails were automatically processed under OCR and needed data get extracted and stored
                    in our database. i was using KNN Algorithm for training data and tesseract
                    package in python.
              </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Mar 2018 - May 2018</span>
            </div>
          </div>

        </div>
      </section>

      <hr class="m-0" />

      <section
        class="resume-section p-3 p-lg-5 d-flex align-items-center"
        id="education"
      >
        <div class="w-100">
          <h2 class="mb-5">Education</h2>

          <div
            class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
          >
            <div class="resume-content">
              <h3 class="mb-0">University of Management and Technology</h3>
              <div class="subheading mb-3">Bachelor of Science - BS(CS)</div>
              <div>Computer Science </div>
              
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">August 2013 - September 2017</span>
            </div>
          </div>

       
        </div>
      </section>

      <hr class="m-0" />

      <section
        class="resume-section p-3 p-lg-5 d-flex align-items-center"
        id="skills"
      >
        <div class="w-100">
          <h2 class="mb-5">Skills</h2>

          <div class="subheading mb-3">Programming Languages &amp; Tools</div>
          <ul class="list-inline dev-icons">
            <li class="list-inline-item">
              <i class="fab fa-html5"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-css3-alt"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-js-square"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-github"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-react"></i>
            </li>
            <li class="list-inline-item">
                
              <i class="fab fa-node-js"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-aws"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-labda"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-laravel"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-gulp"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-grunt"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-npm"></i>
            </li>
            <li class="list-inline-item">
                    <i class="fab fa-php"></i>
                  </li>
          </ul>

          <div class="subheading mb-3">Workflow</div>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-check"></i>
              Mobile-First, Responsive Design
            </li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Cross Browser Testing &amp; Debugging
            </li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Cross Functional Teams
            </li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Agile Development &amp; Scrum
            </li>
          </ul>
        </div>
      </section>

      <hr class="m-0" />

      <section
        class="resume-section p-3 p-lg-5 d-flex align-items-center"
        id="interests"
      >
        <div class="w-100">
          <h2 class="mb-5">Interests</h2>
          <p>
            Apart from being a web developer, I enjoy most of my time being
            outdoors. I love hiking i visit norther areas twice atleast in a year.
          </p>
          <p class="mb-0">
            When forced indoors, I follow a number of sci-fi and fantasy genre
            movies and television shows, I am an aspiring chef, and I spend a
            large amount of my free time exploring the latest technology
            advancements .
          </p>
        </div>
      </section>

      <hr class="m-0" />

  
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/resume.min.js"></script>
  </body>
</html>
